<div class='wearableItemHeader'>
    <div class='wearablePfpContainer'>
      <img
        class='betterProfile-img'
        src='{{item.img}}'
        data-edit='img'
        data-action='onEditImage'
        title='{{item.name}}'
        height='80'
        width='80'
      />
    </div>
    <div class='statsContainer'>
      <input
        name='name'
        type='text'
        value='{{item.name}}'
        placeholder='Name'
        class='wearableNameInputField'
      />

      <div class='statsResources'>
		<span class="statsResourcesSub">
		  <select name="system.isEquipped" class="selectField">
            {{selectOptions choicesEquipWearable selected=valueEquipWearable localize=true}}
          </select>
		</span>
        <span class='statsResourcesSub'>
		<label>Slot: </label>
          <select name="system.wearableSlot" class="selectField">
            {{selectOptions choicesWearable selected=valueWearable localize=true}}
          </select>
        </span>
		{{#if hasDef}}
		<span class='statsResourcesSub'>
          <label>DEF: </label>
          <input
          type='number'
          name='system.addedDef.value'
          value='{{system.addedDef.value}}'
          class='statInputFieldSmall'
          />
        </span>
		{{else}}
		{{#if isUserGM}}
		<span class='statsResourcesSub'>
          <label>DEF: </label>
          <input
          type='number'
          name='system.addedDef.value'
          value='{{system.addedDef.value}}'
          class='statInputFieldSmall'
          />
        </span>
		{{/if}}{{/if}}
	  </div>

	  <div class="statsResources">
		<span class='statsResourcesSub'>
		  <label>Durability: </label>
          <input
          type='number'
          name='system.durability.value'
          value='{{system.durability.value}}'
		  min="{{system.durability.min}}"
          class='statInputField'
          />
        </span>
		<label> / </label>
		<span class="statsResourcesSub">
          <input
          type='number'
          name='system.durability.max'
          value='{{system.durability.max}}'
          class='statInputField'
          />
        </span>
		<span class="statsResourcesSub">

		</span>
		<span class='statsResourcesSub'>
          <label>Quantity: </label>
          <input
          type='number'
          name='system.quantity.value'
          value='{{system.quantity.value}}'
		  min="{{system.quantity.min}}"
          class='statInputField'
          />
        </span>
	  </div>

{{#if isUserGM}}
	  <div class="statsResources">
        <label>Default: </label>
        <span class='statsResourcesSub'>
          <input
          type='number'
          name='system.priceDefault.value'
          value='{{system.priceDefault.value}}'
		  min="{{system.priceDefault.min}}"
          class='statInputField'
          />
        </span>
		<label>Actual: </label>
        <span class='statsResourcesSub'>
          <input
          type='number'
          name='system.priceActual.value'
          value='{{system.priceActual.value}}'
		  min="{{system.priceActual.min}}"
          class='statInputField'
          />
        </span>
		<label>Light: </label>
		<span class='statsResourcesSub'>
          <input
          type='number'
          name='system.lightPreset.value'
          value='{{system.lightPreset.value}}'
          class='statInputField'
          />
        </span>
      </div>
	{{/if}}

    </div>
</header>