<header class='sheet-header'>
  <div class='headContainer'>
    <div class='pfpContainer'>
      <img
        class='profile-img'
        src='{{item.img}}'
        data-edit='img'
        data-action='onEditImage'
        title='{{item.name}}'
        height='100'
        width='100'
      />
    </div>
    <div class='statsContainer'>
      <input
        name='name'
        type='text'
        value='{{item.name}}'
        placeholder='Name'
        class='itemNameInputField'
      />
      <div class='statsResources'>
        <div class='statsResourcesSub'>
          <label for='system.diceBonus' class='resource-label'>
          {{localize 'Dice Bonus: '}}
          </label>
          <input
          type='number'
          name='system.diceBonus'
          value='{{system.diceBonus}}'
          class='statInputField'
          />
        </div>
        <label>Category: </label>
        <div class='statsResourcesSub'>
          <select name="system.skillCategory" class="selectField">
            {{selectOptions choicesSkill selected=valueSkill localize=true}}
          </select>
        </div>
      </div>

    </div>
  </div>
</header>