{{! Skills Tab }}
<!--<section class='skills tab {{tab.cssClass}}' data-group='primary' data-tab='skills'>-->
<!--<section class="skills tab {{tabs.skills.cssClass}}" data-group="primary" data-tab="skills">-->
<section class="tab skills {{tabs.skills.cssClass}}" data-group="{{tabs.skills.group}}" data-tab="{{tabs.skills.id}}">

<div class="skillsHeader">

  <div class="skillsSection">

    <div class="skillsContainerContainer">
      <div class="skillsTitle">

      </div>
      <div class="skillsContainer">
        
      </div>
    </div>

    <div class="skillsContainerContainer">
      <div class="skillsTitle">

      </div>
      <div class="skillsContainer">
        
      </div>
    </div>

    <div class="skillsContainerContainer">
      <div class="skillsTitle">

      </div>
      <div class="skillsContainer">
        
      </div>
    </div>

  </div>

  <div class="skillsSection">

    <div class="skillsContainerContainer">
      <div class="skillsTitle">

      </div>
      <div class="skillsContainer">
        
      </div>
    </div>

    <div class="skillsContainerContainer">
      <div class="skillsTitle">

      </div>
      <div class="skillsContainer">
        
      </div>
    </div>

    <div class="skillsContainerContainer">
      <div class="skillsTitle">

      </div>
      <div class="skillsContainer">
        
      </div>
    </div>

  </div>

  </div>

</section>
